html, body 
{ 
    height: 100%; 
}

body 
{ 
    display: grid; 
    grid-template-rows: auto 1fr auto;    
}

.barra-login
{
    background-color:  #d9d9d9 !important;
    
}


/* bordi prova */

.bp1
{
    border: 3px solid lime;
}

.bp2
{
    border: 3px solid orangered;
}

.bp3
{
    border: 3px solid blue;
}

.bp4
{
    border: 3px solid deeppink;
}

.bp5
{
    border: 3px solid yellow;
}


.ac-jc
{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}



.center-all
{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}



